@import "tailwindcss";
@import "./fonts.css";
@import "./carousel.css";

:root {
  --font-navigation: "Louize Display";
  --font-body: "Louize";
  --font-headings: "Eksell Display";
}

@keyframes logo-scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

html,
body {
  @apply selection:bg-orange-600 w-full text-white selection:text-white scroll-smooth;
  font-family: var(--font-body);
  background: radial-gradient(
    circle at center,
    #121113,
    #121113 10%,
    transparent 10%,
    transparent 20%,
    #121113 20%,
    #121113 30%,
    transparent 30%,
    transparent 40%,
    #121113 40%,
    #121113 50%,
    transparent 50%,
    transparent 60%,
    #121113 60%,
    #121113 70%,
    transparent 70%,
    transparent 80%,
    #121113 80%,
    #121113 90%,
    transparent 90%
  );
  background-size: 3em 3em;
  background-color: #000000;
}

header {
  font-family: var(--font-navigation);
  @apply z-10 lg:flex justify-between items-center gap-4 p-4 lg:p-6 w-full h-screen lg:h-auto block bg-top-right lg:pb-0 bg-no-repeat bg-[url("/assets/img/catherine/about.webp")] bg-cover lg:bg-none;

  h1 {
    @apply font-bold text-5xl uppercase;
  }

  nav {
    @apply mt-8 lg:mt-0;

    ul {
      @apply lg:inline-flex flex-wrap gap-x-12 text-4xl leading-13;
    }
  }
}

h2 {
  font-family: var(--font-headings);
  @apply mx-auto max-w-7xl text-orange-500 text-5xl lg:text-6xl text-center;

  em {
    @apply font-extralight;
    font-family: var(--font-body);
  }
}

h3 {
  font-family: var(--font-headings);
  @apply mx-auto max-w-7xl text-orange-400 text-4xl lg:text-center;

  em {
    @apply font-extralight;
    font-family: var(--font-body);
  }
}

h4 {
  @apply text-amber-400 text-3xl lg:text-center;
  font-family: var(--font-headings);

  em {
    @apply font-extralight;
    font-family: var(--font-body);
  }
}

p {
  @apply my-8;
}

.book-cover {
  @apply relative rounded-r-lg rounded-l-sm h-fit;

  img {
    @apply block shadow-black shadow-md rounded-r-md rounded-l-sm;
    /* box-shadow: 3px 3px 8px -2px #000; */
  }

  /* 'Hardcover' effect */
  &::after {
    bottom: 0;
    box-shadow: 1px 0 3px rgba(255, 255, 255, 0.7);
    content: "";
    left: 0.5rem;
    position: absolute;
    top: 0;
    width: 3px;
  }

  &:hover {
    @apply saturate-200 cursor-pointer;
  }
}

section {
  @apply px-4 md:px-6 py-8;
  font-variant-ligatures: discretionary-ligatures;
  scrollbar-color: var(--color-orange-500) #080f4f;

  a {
    @apply underline underline-offset-4;
  }

  &::-webkit-scrollbar {
    width: 6px;
    height: 6px;
    background-color: #080f4f;
  }

  &::-webkit-scrollbar-track {
    background-color: #080f4f;
  }

  &::-webkit-scrollbar-thumb {
    @apply rounded-lg;
    background-color: var(--color-orange-500);
  }
}

above-fold {
  @apply block lg:bg-[url("/assets/img/catherine/about.webp")] bg-top-right bg-no-repeat bg-size-[auto_1550px];

  section[id="hello"] {
    @apply bg-gray-900 lg:bg-transparent mx-auto py-2 pt-8 lg:pr-[550px] max-w-7xl;
  }

  h2 {
    @apply block backdrop-grayscale-50 mx-auto lg:mt-8 lg:py-0 max-w-7xl text-orange-500 text-4xl lg:text-5xl text-left;
  }

  p:first-of-type {
    @apply text-2xl lg:text-3xl;
  }

  p:not(:first-of-type) {
    @apply text-xl lg:text-2xl;
  }
}

section[id="more-about-me"] {
  @apply bg-blue-900 pb-4;

  h2 {
    @apply text-amber-400;
  }

  section-wrapper {
    @apply block mx-auto max-w-7xl text-xl lg:text-2xl;

    /* p:nth-of-type(1) {
      @apply text-2xl lg:text-3xl;
    } */
  }
}

section[id="books"] {
  @apply bg-indigo-900 overflow-hidden;

  h2 {
    @apply mb-8;
  }

  h3 {
    @apply hidden;
  }

  books-wrapper {
    @apply block relative;

    ul {
      @apply items-end gap-x-6 grid mx-auto pb-4 overflow-x-scroll;
      grid-auto-flow: column;
      scrollbar-width: none;
      -ms-overflow-style: none;

      &::-webkit-scrollbar {
        display: none;
      }

      li {
        @apply min-w-36 lg:min-w-48 h-auto transition-all;
      }

      li:hover {
        zoom: 1.01;
      }
    }

    li span {
      @apply hidden;
    }

    books-wrapper-scroll {
      @apply block relative mx-auto mt-4 rounded-full w-75 h-2 cursor-pointer;
      background: rgba(255, 255, 255, 0.2);

      div {
        @apply top-0 absolute bg-orange-500 rounded-full h-full transition-all;
        transition: width 0.1s, left 0.1s;
      }

      &:hover div,
      &.dragging div {
        background: var(--color-orange-400);
      }
    }
  }

  publishers-wrapper {
    ul {
      @apply flex gap-x-12 mt-12 mb-4;
      width: max-content;
      animation: logo-scroll 50s linear infinite;

      li {
        @apply hover:cursor-pointer;

        img {
          @apply opacity-75 invert h-24 lg:h-28;
        }
      }

      li:hover {
        img {
          @apply opacity-100;
        }
      }

      li span {
        @apply hidden;
      }
    }
  }
}

section[id="clients"] {
  background: #0d187f;

  section-header {
    @apply inline-flex items-center w-full;

    h1 {
      word-break: break-all;
    }

    carousel-prev,
    carousel-next {
      @apply lg:hidden;
    }
  }

  section-wrapper {
    @apply gap-12 grid lg:grid-cols-3 mx-auto my-8 lg:my-12 max-w-7xl text-2xl;

    ul {
      li {
        @apply py-2;
      }

      li:not(:last-of-type) {
        @apply border-blue-500 border-b;
      }
    }
  }
}

section[id="testimonials"] {
  background: #070d41;
  @apply pb-12;

  section-header {
    @apply inline-flex items-center w-full;
  }

  section-wrapper {
    @apply block mx-auto max-w-5xl text-xl lg:text-3xl;

    figure {
      @apply my-12 mb-0;

      blockquote + figcaption {
        @apply relative mt-8 mb-0 ml-6 lg:text-2xl;
        @apply text-blue-300;
      }

      blockquote + figcaption::before {
        content: "\2013";
        @apply -left-6 absolute;
      }

      blockquote + figcaption strong {
        /* @apply text-orange-400; */
      }

      /* blockquote + figcaption a {
        @apply underline underline-offset-4;
      } */
    }
  }
}

section[id="services"] {
  background: #131b66;

  hr {
    border: none;
    height: 10px;
    background-image: url("data:image/svg+xml,%3Csvg width='100' height='20' viewBox='0 0 100 20' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 10 Q12.5 0 25 10 T50 10 T75 10 T100 10' fill='none' stroke='blue' stroke-width='4'/%3E%3C/svg%3E");
    background-repeat: repeat-x;
    background-size: 50px 10px;
  }

  h3 {
    @apply mt-8;
  }

  section-wrapper {
    @apply block mx-auto max-w-5xl text-xl lg:text-2xl;
  }

  ul {
    @apply space-y-4 my-8 ml-4 lg:ml-0 list-disc;

    strong {
      /* font-size: 110%; */
      @apply italic;
    }

    li::marker {
      @apply font-bold text-blue-400 text-2xl;
    }
  }

  mark {
    @apply bg-transparent text-blue-300;
  }
}

section[id="contact"] {
  background: #0c1035;
  @apply text-2xl;

  *:focus-visible {
    @apply outline-2 outline-orange-400 outline-offset-2;
  }

  h3 {
    @apply max-w-7xl text-2xl md:text-3xl;
  }

  section-wrapper {
    @apply block mx-auto mt-12 max-w-5xl;
  }

  label {
    @apply md:flex md:gap-8;
  }

  span {
    @apply flex items-center lg:m-0 mb-2 w-72 text-2xl;
  }

  input,
  textarea {
    @apply p-4 border border-blue-300 rounded-md w-full;
  }

  textarea {
    @apply h-64;
  }

  p:last-child {
    @apply flex;
  }

  p:last-child::before {
    @apply hidden md:block md:w-80;
    content: " ";
  }

  button[type="submit"] {
    font-family: "Eksell Display";
    @apply flex justify-center py-6 border border-orange-500 rounded-md w-full text-orange-500 tracking-wide transition-all;

    &:hover {
      @apply bg-orange-500 text-white cursor-pointer;

      svg {
        @apply fill-white;
      }
    }

    span {
      @apply w-auto text-4xl;
    }

    svg {
      @apply fill-orange-500 mt-1 ml-3 text-3xl;
    }
  }
}

footer {
  @apply px-6 py-4 pt-12 md:pb-24 text-2xl lg:text-center;
  font-family: var(--font-navigation);
  background: #000;

  a {
    @apply underline underline-offset-4;
  }

  br {
    @apply hidden lg:block;
  }

  strong {
    font-family: var(--font-headings);
    font-weight: 400;
  }

  &::before {
    @apply block bg-current mx-auto mb-12 w-48 h-48 text-amber-500;
    content: "\0a0";
    mask-image: url(/assets/img/catherine/labyrinth.png);
    mask-position: center;
    mask-repeat: no-repeat;
    mask-size: cover;
  }
}

back-to-top {
  @apply right-4 bottom-4 fixed opacity-0 transition-opacity duration-300 pointer-events-none;

  &.visible {
    @apply opacity-100 pointer-events-auto;
  }

  a {
    @apply block p-1 rounded-full transition-all;
    background: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
  }

  a:hover {
    background: rgba(255, 255, 255, 1);
  }
}
