@import "tailwindcss";
@import "./fonts.css";
@import "./carousel.css";

@keyframes logo-scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    /* Moves exactly half the track width (the first set of 10) */
    transform: translateX(-50%);
  }
}

html,
body {
  @apply w-full scroll-smooth;
  font-family: "Louize";
  color: white;

  background: radial-gradient(
      circle at center bottom,
      #333333 5%,
      transparent 6%,
      transparent 19%,
      #333333 20%,
      #333333 25%,
      transparent 26%,
      transparent 39%,
      #333333 40%,
      #333333 45%,
      transparent 46%
    ),
    radial-gradient(
      circle at center top,
      #333333 5%,
      transparent 6%,
      transparent 19%,
      #333333 20%,
      #333333 25%,
      transparent 26%,
      transparent 39%,
      #333333 40%,
      #333333 45%,
      transparent 46%
    ),
    radial-gradient(circle at left, #333333 5%, transparent 6%),
    radial-gradient(circle at right, #333333 5%, transparent 6%);
  background-size: 2em 2em;
  background-color: #000000;
  opacity: 1;
}

header {
  @apply z-10 lg:flex justify-between items-center gap-4 p-4 lg:p-6 w-full h-[95vh] lg:h-auto block bg-top-right lg:pb-0 bg-no-repeat bg-[url("/assets/img/catherine/about.webp")] bg-cover lg:bg-none;

  font-family: "Louize Display";

  h1 {
    @apply font-bold text-5xl uppercase;
  }

  nav {
    @apply mt-8 lg:mt-0;

    ul {
      @apply lg:inline-flex flex-wrap gap-x-12 text-4xl leading-13;

      li {
      }
    }
  }
}

h2 {
  @apply mx-auto max-w-7xl text-orange-500 text-5xl lg:text-6xl text-center;
  font-family: "Eksell Display";

  em {
    @apply font-extralight;
    font-weight: 100;
    font-family: "Louize";
  }
}

h3 {
  @apply mx-auto max-w-7xl text-orange-400 text-4xl text-center;
  font-family: "Eksell Display";

  em {
    @apply font-extralight;
    font-weight: 100;
    font-family: "Louize";
  }
}

h4 {
  @apply text-amber-400 text-3xl text-center;
  font-family: "Eksell Display";
  /* font-weight: normal; */

  em {
    @apply font-extralight;
    font-weight: 100;
    font-family: "Louize";
  }
}

p {
  @apply my-8;
}

.book-cover {
  @apply relative rounded-r-lg rounded-l-sm h-fit;

  img {
    @apply block rounded-r-md rounded-l-sm;
    box-shadow: 3px 3px 8px -2px #000;
  }

  /* This adds the 'hardcover' effect */
  &::after {
    bottom: 0;
    box-shadow: 1px 0 3px rgba(255, 255, 255, 0.7);
    content: "";
    left: 0.5rem;
    position: absolute;
    top: 0;
    width: 3px;
  }

  &:hover {
    @apply saturate-200;
  }
}

section {
  @apply px-4 py-8;
  scrollbar-color: var(--color-orange-500) #080f4f;

  &::-webkit-scrollbar {
    width: 6px;
    height: 6px;
    background-color: #080f4f;
  }

  &::-webkit-scrollbar-track {
    background-color: #080f4f;
  }

  &::-webkit-scrollbar-thumb {
    @apply rounded-lg;
    background-color: var(--color-orange-500);
  }
}

above-fold {
  @apply block lg:bg-[url("/assets/img/catherine/about.webp")] bg-top-right bg-no-repeat bg-size-[auto_1550px];

  big {
    font-family: "Eksell Display";
    @apply block backdrop-grayscale-50 mx-auto lg:mt-8 lg:py-0 max-w-7xl text-orange-500 text-4xl lg:text-5xl;
  }

  section[id="hello"] {
    @apply bg-gray-900 lg:bg-transparent mx-auto py-2 pt-8 lg:pr-[500px] max-w-7xl;
  }

  p:first-of-type {
    @apply text-2xl lg:text-3xl;
  }

  p:not(:first-of-type) {
    @apply text-xl lg:text-2xl;
  }

  small {
    @apply opacity-75 text-xl italic;

    a {
      @apply underline underline-offset-4;
    }
  }
}

section[id="more-about-me"] {
  @apply bg-blue-900 pb-4;

  h2 {
    @apply text-amber-400;
  }

  /* background: #080f4f; */
  section-wrapper {
    @apply block mx-auto max-w-7xl text-xl lg:text-2xl;

    p:nth-of-type(1) {
      @apply text-2xl lg:text-3xl;
    }
  }
}

section[id="books"] {
  @apply bg-indigo-900 overflow-hidden;
  /* @apply border-t border-t-amber-600; */

  h2 {
    @apply mb-8 px-4;
  }

  h3 {
    @apply hidden;
  }

  /* Books */
  books-wrapper {
    /* @apply max-w-7xl; */
    @apply block relative;

    ul {
      @apply items-end gap-x-6 grid mx-auto pb-4 overflow-x-scroll;
      grid-auto-flow: column;
      scrollbar-width: none;
      -ms-overflow-style: none;

      &::-webkit-scrollbar {
        display: none;
      }

      li {
        @apply min-w-36 lg:min-w-48 h-auto;
      }
    }

    li span {
      @apply hidden;
    }

    books-wrapper-scroll {
      @apply block relative mx-auto mt-4 rounded-full w-75 h-2 cursor-pointer;
      background: rgba(255, 255, 255, 0.2);

      div {
        @apply top-0 absolute bg-orange-500 rounded-full h-full transition-all;
        transition: width 0.1s, left 0.1s;
      }

      &:hover div,
      &.dragging div {
        background: var(--color-orange-400);
      }
    }
  }

  /* Publishers */
  publishers-wrapper {
    ul {
      @apply flex gap-x-12 mt-12 mb-4;
      width: max-content;
      animation: logo-scroll 50s linear infinite;

      li {
        @apply hover:cursor-pointer;

        img {
          @apply opacity-75 invert h-24 lg:h-28;
        }
      }

      li:hover {
        img {
          @apply opacity-100;
        }
      }

      li span {
        @apply hidden;
      }
    }

    /* Pause on hover */
    /* ul:hover {
      animation-play-state: paused;
    } */
  }
}

section[id="clients"] {
  background: #0d187f;

  section-header {
    @apply inline-flex items-center w-full;

    h1 {
      word-break: break-all;
    }

    carousel-prev,
    carousel-next {
      @apply lg:hidden;
    }
  }

  section-wrapper {
    @apply gap-12 grid lg:grid-cols-3 mx-auto my-8 lg:my-12 max-w-7xl text-2xl;

    ul {
      li {
        @apply py-2;
      }

      li:not(:last-of-type) {
        @apply border-blue-500 border-b;
      }
    }
  }
}

section[id="testimonials"] {
  background: #070d41;
  @apply pb-12;

  section-header {
    @apply inline-flex items-center w-full;
  }

  section-wrapper {
    @apply block mx-auto max-w-7xl text-xl lg:text-3xl;

    figure {
      @apply my-12 mb-0;

      blockquote + figcaption {
        @apply relative mt-8 mb-0 ml-6;
        @apply text-blue-300;
      }

      blockquote + figcaption::before {
        content: "\2013";
        @apply -left-6 absolute;
      }

      blockquote + figcaption strong {
        /* @apply text-orange-400; */
      }

      blockquote + figcaption a {
        @apply underline underline-offset-4;
      }
    }
  }
}

section[id="services"] {
  background: #131b66;

  section-wrapper {
    @apply block mx-auto max-w-7xl text-xl lg:text-3xl;

    service-section {
      @apply block pt-8 border-blue-500 border-t;
    }
  }

  ul {
    @apply space-y-4 my-8 ml-4 lg:ml-0 list-disc;

    li::marker {
      @apply text-blue-400;
    }
  }

  mark {
    @apply bg-transparent text-blue-300;
  }
}

section[id="contact"] {
  background: #0c1035;
  @apply text-2xl;

  section-wrapper {
    @apply block mx-auto mt-12 max-w-7xl;
  }

  label {
    @apply lg:gap-8 lg:grid lg:grid-cols-2;
    grid-template-columns: 150px auto;
  }

  span {
    @apply flex items-center lg:m-0 mb-2 text-2xl lg:text-3xl;
  }

  input,
  textarea {
    @apply p-4 border border-blue-300 rounded-md w-full;
  }

  textarea {
    @apply h-64;
  }

  p:last-child {
    @apply lg:pl-[180px];
  }

  button[type="submit"] {
    font-family: "Eksell Display";
    @apply flex justify-center py-6 border border-orange-500 rounded-md w-full text-orange-500 tracking-wide transition-all;

    &:hover {
      @apply bg-orange-500 text-white cursor-pointer;

      svg {
        @apply fill-white;
      }
    }

    span {
      @apply text-5xl;
    }

    svg {
      @apply fill-orange-500 mt-1 ml-3 text-4xl;
    }
  }
}

footer {
  @apply px-6 py-4 pt-12 pb-36 text-2xl lg:text-center;
  font-family: "Louize Display";
  background: #000;

  /* background: url("/catherine/labyrinth.png");
  background-size: 3rem 3rem;
  background-repeat: no-repeat; */

  a {
    @apply underline underline-offset-4;
  }

  br {
    @apply hidden lg:block;
  }

  strong {
    font-family: "Eksell Display";
    font-weight: 400;
  }

  &::before {
    @apply block bg-current mx-auto mb-12;
    color: red;
    width: 12rem;
    height: 12rem;
    content: "\0a0";
    mask-image: url(/assets/img/catherine/labyrinth.png);
    mask-position: center;
    mask-repeat: no-repeat;
    mask-size: cover;
  }
}

back-to-top {
  @apply right-4 bottom-4 fixed opacity-0 transition-opacity duration-300 pointer-events-none;

  &.visible {
    @apply opacity-100 pointer-events-auto;
  }

  a {
    @apply block p-1 rounded-full transition-all;
    background: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
  }

  a:hover {
    background: rgba(255, 255, 255, 1);
  }
}
